@media screen and (max-width: 768px) {
    p {
      font-size: 14px;
    }
  }
  

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: snow;
}

header {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header img {
    height: 50px;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    padding: 10px;
}

nav a:hover {
    background-color: #ddd;
}

/* Main section styles */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 20px;
    line-height: 1.5;
}

#p2 {
    max-height: 40vh;
    overflow-y: scroll;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    margin-bottom: 20px;
}

section p {
    margin-bottom: 10px;
}

/* Footer styles */

footer {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer li {
    margin-left: 10px;
    padding-right: 15px;
    padding-left: 1px;
}

footer a {
    color: #333;
}

footer a:hover {
    text-decoration: underline;
}

